<div class="container py-5">
  <div class="d-flex justify-content-between mb-3 align-items-center">
    <h1 class="mb-0">Products Items Shopping New</h1>
    <button class="btn btn-primary">Add Product</button>
  </div>
  <div class="row">
    <div class="col-lg-12 bg-primary-subtle p-3 rounded mb-3 ">
      <app-add-product class="row justify-content-center" (productCreated)="onAddNewProduct($event)"></app-add-product>
    </div>
  </div>
  <div class="row g-3">
    <app-products class="col-lg-3" [product]="productList" *ngFor="let productList of productsLists"></app-products>

  </div>
</div>
